<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a message</title>
</head>
<body>
    <h2>Delete message</h2>
    <p>Are you sure you want to delete the message?</p>
    <form action="" method="POST">
        <button name='yes-btn' style="cursor: pointer;">YES</button>
        <button name='no-btn'style="cursor: pointer;">NO</button>
    </form>
</body>
</html>