<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Member</title>
</head>
<body>
    <% if(err === "No error") {%>
        <h1>Welcome to the Club!</h1>
        <h2><%=user.membership_status%></h2>
        <br />
        <a href="/members-only/:id/">Go back</a>
    <% } else {%>
        <p> Incorrect Passcode!</p>
        <br />
        <a href="/members-only/:id/">Go back</a>
    <% } %>
</body>
</html>