<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Page</title>
</head>
<body>
    <% if (user) {%>
        <h1>WELCOME BACK, <%= user.first_name %> <%= user.family_name %></h1>
        <h3>Type of Membership: <%= user.membership_status %></h3>
        <a href="/logout">LOG OUT</a>
        <br><br>
        <form action="/elite-member" method="GET">
          <label for="passcode">Already part of the Club? Enter the Passcode here: </label>
          <input name="passcode" placeholder="passcode..." type="password" />
          <button>Enter</button>
      </form>
  <% } else { %>
        <h1>Please log in</h1>
        <form action="/login" method="POST">
            <label for="username">Username </label>
            <input name="username" placeholder="username" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <button>Log in</button>
        </form>
        <br><br>
        <a href="/sign-up">SIGN UP!</a>
    <%}%>
</body>
</html>