<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-up form</title>
</head>
<body>
  <% if (false) { %>
    <p>These are the errors: </p>
     <%= %>
  <%  }else {%>
    <h1> Sign up! </h1>
    <form action="" method="POST">
        <div>
            <label for="firstname">First Name: </label>
            <input name="firstname" type="text" />
            <label for="lastname">Last Name: </label>
            <input name="lastname" type="text" />    
            <label for="username">User Name: </label>
            <input name="username" type="text" />
        </div>
        <br /> 
        <div>
            <label for="password">Password: </label>
            <input name="password" type="password" />
            <label for="confirm-password">Confirm Password: </label>
            <input name="confirm-password" type="password" />
        </div>
        <br />
        <button>Sign Up</button>
    </form>
    <br><br>
    <a href="/">Go back</a>
  <%}%>  
  </body>
</html>